  .navbar {
    width: 100vw;
    margin: 0;
    font-family: Michroma, sans-serif;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff00;
    color: white;
    z-index: 10;
    position: absolute;
    backdrop-filter: blur(100px);
    /* border: 0px;
    border-bottom: 0px;
    border-color: white;
    border-style: solid;
    animation: borderFadeIn 3s forwards;
    animation-delay: 4s; */
  }
  /* @keyframes borderFadeIn {
    to {
      border-bottom: 1px;
    }
  } */
  .navbar .win {
    margin: 0;
    font-size: larger;
    display: block;
  }
  .navbar .mob{
    margin: 0;
    display: none;
  }
  .navbar img {
    width: 50px; /* Set the width of the logo */
  }
  .logo{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 2%;
  }
  .icon {
    display: flex;
    align-items: center;
    position: relative; /* Added */
    gap: 15px;
    margin-right: 2%;
  }
  .icon span{
    cursor: pointer;
  }
  .icon span:hover{
    color: #ffb74c;
  }
  .search-bar {
    display: flex;
    align-items: center;
    position: relative; /* Changed to relative */
    width: 38px;
    height: 38px;
    transition: width 0.3s ease;
    background-color: #000000; /* Changed color to light gray */
    border-radius: 50px;
    border-color: white;
    border-style: solid;
    border-width: 0.5px;
  }
  .search-bar:hover,
  .search-bar:focus-within { 
    width: 200px;
  }
  .search-bar input {
    width: 100%;
    margin-right: 18px;
    padding: 15px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    display: block;
    font-family: Michroma, sans-serif;
    font-size: xx-small;
  }
  .search-bar input::placeholder { /* Added */
    color: transparent;
  }
  .search-bar:hover input::placeholder,
  .search-bar:focus-within input::placeholder { /* Added */
    color: white;
  }
  .search-icon {
    color: white;
    cursor: pointer;
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    /* z-index: 1; */
  }
  .search-icon:hover{
    color: rgb(255, 183, 76);
  }
  .username {
    color: white;
    display: inline; /* Added */
  }
  
  /* Media query for mobile devices */
  @media screen and (max-width: 600px) {
    .navbar{
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .username {
        display: none; /* Hide username on mobile devices */
    }
    .search-bar:hover,
    .search-bar:focus-within { 
        width: 120px;
    }
    .navbar img {
      width: 40px; /* Set the width of the logo */
    }
  
  }
  @media screen and (max-width: 950px) {
    .navbar .win {
        font-size: medium; /* Adjust font size for smaller screens */
    }
  }
  @media screen and (max-width: 850px) {
  .navbar .win {
      margin: 0;
      display: none;
    }
    .navbar .mob{
        margin: 0;
        display: block;
    }
  }